.definition {
  display: none;

}

.term {
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 25px;
  font-size: 150%;
  margin: 0 auto;
}

.box {
  width: 400px;
  padding: 15px;
  border: 1px solid grey;
  margin: 15px;
}

.box:hover {
  background-color: #dbfaff;
}

.btn {
  background-color: grey;
  margin: 5px;
}
